/* Banks css alleen voor de banken pagina's /////////////////////////////////////////////////// */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "header header header"
  "content content content"
  "content content content"
  "footer footer footer";
}
header{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "logo nav nav";
    grid-area: header;
  background-color: #EC1C4B;
  width: 100%;
  height: 100px;
}
.nav{
  grid-area: nav;
float: right;
text-decoration: none;
}
.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.nav li{

  display: inline-block;
  margin: 40px;
  padding-top: 2px;
  font-family: 'Rock Salt', cursive;
}
.nav a {
    color: black;
    text-decoration: none;
}

.logo{
  float: left;
  grid-area: logo;
  text-align: center;
  align-items: center;
  height: 200px;
  width: 200px;
  position: absolute;
  top: 20px;
  left: 20px;
 }
.content{
grid-area: content;
background-image: url(../img/2s.jpg);
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 800px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-areas:
"left middel right"
;
}

.knop {
  position: relative;
  top: 56px;
  border: none;
  margin: 20px auto;
  padding: 24px;
  width: 240px;
  height: 80px;
  text-transform: uppercase;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  background-size: 200%;
  transition: 0.6s;
  background-image: linear-gradient(to left,#A6206A,#EC1C4B,#F16A43,#f7D969);
  grid-area: middel;
}
.knop:hover{
  background-position: right;
}

footer {
  grid-area: footer;
  background-color: #EC1C4B;
}
.footer-icons{
  width: 100%;
  height: auto;
  margin:auto;
}
.footer-icons ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.footer-icons ul li{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0px 10px;
  border-radius: 100%;
  background: #EC1C4B;
}
.footer-icons ul li a{
  color: #272727;
  font-size: 25px;
  display: block;
}
.footer-icons ul li a i{
 line-height: 50px;
}

.footer-bottem {
  width: 100%;
  height: 90%;
  margin: auto;
  background: #EC1C4B;
  padding: 10px;
  box-sizing: border-box;

}
.footer-bottem p{
  font-family: arial;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  font-family: 'Rock Salt', cursive;
}
.footer-bottem p a{
  color: #fff;
}
/* einde Home page Start betaal css page /////////////////////////////////////////////// */
.content2{
grid-area: content;
background-image: url(../img/2s.jpg);
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 800px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-areas:
"left middel right"
;
}
.content2 p {
  grid-area: middel;
  text-align: center;
  position: relative;
  top: 10px;
  color: black;
}
.white-block{
  position: relative;
  height: 750px;
  width: 600px;
  background-color: white;
  grid-area: middel;
  top: 50px;
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "img1 img2 img3"
  "img1 img2 img3"
  "img1 img5 img3";
  justify-items: center;
}


.knop2 {
  position: relative;

  border: none;
  margin: 20px auto;
  padding: 24px;
  width: 240px;
  height: 80px;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  background-size: 200%;
  transition: 0.6s;
  background-image: linear-gradient(to left,#bcff7c,#ffd265,#c568a5,#9cdaff);
  grid-area: img5;
  bottom: 20px;
}
.knop2:hover{
  background-position: right;
}
.img{
  grid-area: img2;
}
